<server description="order domain server">
	<featureManager>
		<feature>javaee-8.0</feature>
		<feature>openapi-3.1</feature>
	</featureManager>

	<logging
		traceSpecification="com.ibm.ws.microprofile.health.*=all" />

        <httpAccessLogging id="accessLogging"/>
<!--    <httpEndpoint host="localhost" httpPort="-1" -->
        <httpEndpoint accessLoggingRef="accessLogging" host="*" httpPort="${env.HTTP_PORT}" httpsPort="${env.HTTPS_PORT}" id="defaultHttpEndpoint" />

	<keyStore id="defaultKeyStore"
		type="PKCS12"
		password="Liberty" />

	<jdbcDriver id="PostgreSQLDriver"
		javax.sql.XADataSource="org.postgresql.xa.PGXADataSource" javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource" libraryRef="postgresql-lib" />
	<library id="postgresql-lib">
		<fileset dir="${shared.resource.dir}/postgresql"
			includes="postgresql-42.2.14.jar" />
	</library>

	<dataSource id="postgresql-db1" jndiName="jdbc/order_db"
		type="javax.sql.ConnectionPoolDataSource" transactional="true" jdbcDriverRef="PostgreSQLDriver">
		<properties	serverName="postgresdb" portNumber="5432" databaseName="order_db" user="order_user" password="order_pass" />
	</dataSource>

	<dataSource id="postgresql-db2" jndiName="jdbc/manufacture_db"
		type="javax.sql.ConnectionPoolDataSource" transactional="true" jdbcDriverRef="PostgreSQLDriver">
		<properties	serverName="postgresdb" portNumber="5432" databaseName="manufacture_db" user="manufacture_user" password="manufacture_pass" />
	</dataSource>

	<dataSource id="postgresql-db3" jndiName="jdbc/supplier_db"
		type="javax.sql.ConnectionPoolDataSource" transactional="true" jdbcDriverRef="PostgreSQLDriver">
		<properties	serverName="postgresdb" portNumber="5432" databaseName="supplier_db" user="supplier_user" password="supplier_pass" />
	</dataSource>

    <jndiEntry jndiName="manufacturedomain.workorder.url" value="${env.MANUFACTURE_WORKORDER_URL}"/>
    <jndiEntry jndiName="manufacturedomain.deliver.url" value="${env.MANUFACTURE_DELIVER_URL}"/>
    <jndiEntry jndiName="manufacturedomain.username" value="${env.MANUFACTURE_USER}"/>
    <jndiEntry jndiName="manufacturedomain.password" value="${env.MANUFACTURE_PASSWORD}"/>

    <jndiEntry jndiName="supplierdomain.purchase.url" value="${env.SUPPLIER_PURCHASE_URL}"/>
    <jndiEntry jndiName="supplierdomain.username" value="${env.SUPPLIER_USER}"/>
    <jndiEntry jndiName="supplierdomain.password" value="${env.SUPPLIER_PASSWORD}"/>
        
	<basicRegistry id="basic" realm="defaultRealm">
		<user name="admin" password="adminpwd" />
		<user name="testuser" password="pwd" />
		<user name="orderer" password="pwd" />

		<group name="ORDERDOMAIN.ITEM">
			<member name="testuser" />
		</group>
		<group name="ORDERDOMAIN.CUSTOMER">
			<member name="testuser" />
		</group>
		<group name="ORDERDOMAIN.ORDER">
			<member name="testuser" />
		</group>
		<group name="ORDERDOMAIN.ADMIN">
			<member name="admin" />
		</group>

		<group name="MANUFACTUREDOMAIN.COMPONENT">
			<member name="testuser" />
		</group>
		<group name="MANUFACTUREDOMAIN.WORKORDER">
			<member name="testuser" />
		</group>
		<group name="MANUFACTUREDOMAIN.ADMIN">
			<member name="admin" />
		</group>
		
		<group name="SUPPLIERDOMAIN.SUPPLIER">
			<member name="testuser" />
		</group>
		<group name="SUPPLIERDOMAIN.ORDERER">
			<member name="orderer" />
		</group>
		<group name="SUPPLIERDOMAIN.ADMIN">
			<member name="admin" />
		</group>

	</basicRegistry>

	<enterpriseApplication id="orderdomain"
		location="orderdomainEAR.ear" name="orderdomainEAR.ear">
		<application-bnd>
			<security-role name="ORDERDOMAIN.ITEM">
				<group name="ORDERDOMAIN.ITEM" />
			</security-role>
			<security-role name="ORDERDOMAIN.CUSTOMER">
				<group name="ORDERDOMAIN.CUSTOMER" />
			</security-role>
			<security-role name="ORDERDOMAIN.ORDER">
				<group name="ORDERDOMAIN.ORDER" />
			</security-role>
			<security-role name="ORDERDOMAIN.ADMIN">
				<group name="ORDERDOMAIN.ADMIN" />
			</security-role>
		</application-bnd>
	</enterpriseApplication>
	
	<enterpriseApplication id="manufacturedomain"
		location="manufacturedomainEAR.ear" name="manufacturedomainEAR.ear">
		<application-bnd>
			<security-role name="MANUFACTUREDOMAIN.COMPONENT">
				<group name="MANUFACTUREDOMAIN.COMPONENT" />
			</security-role>
			<security-role name="MANUFACTUREDOMAIN.WORKORDER">
				<group name="MANUFACTUREDOMAIN.WORKORDER" />
			</security-role>
			<security-role name="MANUFACTUREDOMAIN.ADMIN">
				<group name="MANUFACTUREDOMAIN.ADMIN" />
			</security-role>
		</application-bnd>
	</enterpriseApplication>

	<enterpriseApplication id="supplierdomain"
		location="supplierdomainEAR.ear" name="supplierdomainEAR.ear">
		<application-bnd>
			<security-role name="SUPPLIERDOMAIN.SUPPLIER">
				<group name="SUPPLIERDOMAIN.SUPPLIER" />
			</security-role>
			<security-role name="SUPPLIERDOMAIN.PURCHASE">
				<group name="SUPPLIERDOMAIN.ORDERER" />
			</security-role>
			<security-role name="SUPPLIERDOMAIN.PROCESS.DELIVERY">
				<group name="SUPPLIERDOMAIN.SUPPLIER" />
			</security-role>
			<security-role name="SUPPLIERDOMAIN.ADMIN">
				<group name="SUPPLIERDOMAIN.ADMIN" />
			</security-role>
		</application-bnd>
	</enterpriseApplication>
</server>
